:root {
  --font-family: "Fira Code", monospace;
  --margin-top-cli: 10px;
}

h1 {
  font-size: 14px;
  font-family: "Fira Code", monospace;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-size: 14px;
  font-family: "Fira Code", monospace;
  margin-top: 0;
  margin-bottom: 0;
}

.terminal {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 75%;
  box-shadow: rgb(0 0 0 / 55%) 0px 5px 20px;
  background-color: black;
}

.terminal-header {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
  height: 30px;
  background-color: #3c3d3f;
  align-items: center;
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}

.button:hover {
  opacity: 0.5;
}

.title {
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgb(238, 238, 238);
}

.title:hover {
  opacity: 0.6;
}

.title-href {
  /* remove all link styles */
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}

.terminal-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  min-height: 500px;
}

/* Prompt and text input */
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.command-input {
  background-color: transparent;
  border-width: 0px;
  border: none;
  color: white;
  font-family: var(--font-family);
  margin-top: var(--margin-top-cli);
  caret-color: green;
  width: 100%;
}
.command-input:focus {
  outline: none;
}

.prompt {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.arrow {
  font-size: 0.8em;
  color: green;
  margin-top: var(--margin-top-cli);
}

.directory {
  color: cyan;
  font-size: 16px;
  font-family: var(--font-family);
  margin-top: var(--margin-top-cli);
}

/* End of Prompt and text input */

/* Title animation */
@keyframes titleAnimationCompact {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes titleAnimationFullSize {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* end Title animation */
