:root {
  --font-family: "Fira Code", monospace;
  --font-size: 12px;
  --font-weight: 550;
  --margin-top-cli: 8px;

  /* colors */
  --chalk: rgb(235, 235, 235);
  --cyan: rgb(0, 247, 255);
  --green: #15e45d;
}

h1 {
  font-size: var(--font-size);
  font-family: "Fira Code", monospace;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-size: var(--font-size);
  font-family: "Fira Code", monospace;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: var(--font-weight);
}

.terminal {
  background-color: black;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: rgb(0 0 0 / 55%) 0px 5px 20px;
  display: flex;
  flex-direction: column;
  height: 400px;
  max-width: 800px;
  width: 75%;
}

.terminal-header {
  align-items: center;
  align-items: center;
  background-color: #3c3d3f;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  flex-direction: row;
  height: 30px;
  text-align: center;
  width: 100%;
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}

.button:hover {
  opacity: 0.5;
}

.title {
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--chalk);
}

.title:hover {
  opacity: 0.6;
}

.title-href {
  /* remove all link styles */
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}

.terminal-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100% - 30px);
  overflow: scroll;
  /* 10px of padding left and right, 0 px of bottom and top */
  padding: 2px 10px;
}

/* Prompt and text input */
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 8px;
}

.command-input {
  background-color: transparent;
  border-width: 0px;
  border: none;
  caret-color: var(--green);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin-top: var(--margin-top-cli);
  width: 100%;
}
.command-input:focus {
  outline: none;
}

.prompt {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.arrow {
  font-size: var(--font-size);
  color: var(--green);
  margin-top: var(--margin-top-cli);
}

.directory {
  color: var(--cyan);
  font-size: 16px;
  font-family: var(--font-family);
  margin-top: var(--margin-top-cli);
}

.past-commands {
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
}

.paragraph-href {
  /* remove all link styles */
  text-decoration: none;
  color: var(--cyan);
  transition: 250ms linear;
}

.paragraph-href:hover {
  opacity: 0.7;
  text-decoration: underline;
}

/* End of Prompt and text input */

/* Title animation */
@keyframes titleAnimationCompact {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes titleAnimationFullSize {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
/* end Title animation */

/* Hide scroll whell */
.terminal-body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
/* end Hide scroll whell */
